<div class="row" style="margin-top: 2%;">
    <div class="col-md-12">
        <div class="row" style="margin-left: 8%; width: 110%">
            <div class="col-md-12">
                <!-- CARD ICON -->
                <div class="row">
                    <div class="col-md-3">
                        <a style="cursor: pointer;" routerLink="/header/bank-dashboard">
                            <div class="card card-icon mb-4" style="height: 100%">
                                <div class="card-body text-center">

                                    <i class="text-50 i-Financial" style="color: #EED60E "></i>

                                    <div class="item-title" style="font-size: 150%;color: #1c191e">
                                        Bank Management
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <!--                        <div class="card card-icon mb-4" style="height: 100%" >-->

                        <a style="cursor: pointer;" routerLink="/header/task-dashboard">
                            <div class="card card-icon mb-4" style="height: 100%">
                                <div class="card-body text-center">
                                    <i class="text-50 i-Check" style="color: #EED60E "></i>
                                    <div class="item-title" style="font-size: 150%;color: #1c191e;">
                                        Task Management
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!--                        <p class="text-primary text-24 line-height-1 m-0">21</p>-->


                    </div>
                    <div class="col-md-3">
                        <a style="cursor: pointer">
                            <div class="card card-icon mb-4" style="height: 100%">
                                <div class="card-body text-center">
                                    <i class="text-40 i-File-Chart" style="color: #EED60E"></i>

                                    <div class="item-title" style="font-size: 150%;color: #1c191e;">
                                        Reports
                                    </div>

                                    <!--                        <p class="text-primary text-24 line-height-1 m-0">21</p>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--                <div class="col-md-3"></div>-->
                </div>

            </div>
        </div>

    </div>
</div>
