<div class="breadcrumb">
    <h1>Bank Payment</h1>
    <!--    <ul>-->
    <!--        <li><a href="">Form</a></li>-->
    <!--        <li>Basic</li>-->
    <!--    </ul>-->
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card-title mb-3">Add Bank Payment</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3 form-group mb-3">

                                                <label for="picker1">Date</label>
                                                <div class="input-group">
                                                    <input id="picker1" class="form-control" placeholder="yyyy-mm-dd"
                                                           name="dp1"
                                                           ngbDatepicker #dp1="ngbDatepicker" [(ngModel)]="task.date"
                                                           [ngModelOptions]="{standalone: true}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" (click)="dp1.toggle()"
                                                                type="button">
                                                            <i class="icon-regular i-Calendar-4"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 form-group mb-3">
                                                <label>Task</label>
                                                <input type="text" class="form-control" placeholder="Enter Task"
                                                       [(ngModel)]="task.taskName"
                                                       [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-md-2 form-group mb-3">
                                                <label>Start Time</label>
                                                <input type="time" class="form-control" [(ngModel)]="task.startTime"
                                                       [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-md-2 form-group mb-3">
                                                <label>End Time</label>
                                                <input type="time" class="form-control" [(ngModel)]="task.endTime"
                                                       [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 form-group mb-3">
                                                <button type="button" class="btn btn-success m-1"
                                                        style="font-size: 98%;font-weight: bold"
                                                        (click)="addTask(task)">Add Task
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                        <tr>

                                            <th>Date</th>
                                            <th>Task</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>AAAA</td>
                                            <td>323232</td>
                                            <td>BBBBB</td>
                                            <td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-rounded m-1">Edit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-rounded m-1">Reject
                                                </button>
                                            </td>

                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--                    <div class="row">-->
                    <!--                        <div class="col-md-3 form-group mb-3">-->
                    <!--                            <label for="exampleInputEmail1">Amount</label>-->
                    <!--                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
                    <!--                                   placeholder="Enter Amount" >-->
                    <!--                        </div>-->
                    <!--                        <div class="col-md-3 form-group mb-3">-->
                    <!--                            <label for="exampleInputEmail1">Amount</label>-->
                    <!--                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
                    <!--                                   placeholder="Enter Amount" >-->
                    <!--                        </div>-->
                    <!--                        <div class="col-md-3 form-group mb-3" style="margin-top: 1.5%">-->
                    <!--                            <button type="button" class="btn btn-warning btn-rounded m-1">Add</button>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-md-3"></div>-->
                    <!--                    </div>-->

                </div>
            </div>

        </div>

        <!-- end of col -->
    </div>
</div>









