<div class="breadcrumb">
    <h1>Bank Account</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card-title mb-3"> Account Detail</div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Account Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Account Name">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Account Number</label>
                                        <input type="text" class="form-control"
                                               placeholder="Enter Account Number">
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Nickname</label>
                                        <input type="text" class="form-control" placeholder="Enter Nickname">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" placeholder="Enter Amount">
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <button type="button" class="btn btn-success m-1">Add Account</button>
                                        <button type="button" class="btn btn-info m-1">Clear</button>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card-title mb-3">Search Account</div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Account Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Account Name">
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Account Number</label>
                                        <input type="text" class="form-control"
                                               placeholder="Enter Account Number">
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Nickname</label>
                                        <input type="text" class="form-control" placeholder="Enter Nickname">
                                    </div>
                                    <div class="col-md-6 form-group mb-3" style="margin-top: 3.5%">
                                        <button type="button" class="btn btn-warning m-1">Search</button>
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 2%;display: none">#</th>
                            <th style="width: 5%">Date</th>
                            <th style="width: 5%">Account Name</th>
                            <th style="width: 5%">Account Number</th>
                            <th style="width: 5%">Nickname</th>
                            <th style="width: 5%">Amount</th>
                            <th style="width: 5%">Status</th>
                            <th style="width: 5%"></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="display: none"></td>
                            <td></td>
                            <td style="width: 5%"></td>
                            <td style="width: 5%"></td>
                            <td style="width: 5%"></td>
                            <!--                            <td style="width: 5%">{{bank.amount}}</td>-->
                            <td></td>
                            <td style="width: 5%">
                                <button type="button" class="btn btn-success btn-rounded m-1">Edit</button>
                                <button type="button" class="btn btn-danger btn-rounded m-1">Delete</button>
                            </td>

                        </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




